# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-fe
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

TODO.txt

dist
dist-be

.env.docker
.env
.env.development
.env.production
.env.test
/coverage

release

data/*.db

dist-fe
dist-be
dist-electron
test-results
playwright-report/
data/e2e-*.sqlite
data/users/
scratch/
test.cjs
test.ts